* {
    margin: 0;
    padding: 0;
  
    
}

/* Estilos para el encabezado */

header {

    height: 100px;
    background-color: rgb(23, 35, 84);

}


.header-content {
    display: flex;
    align-items: left;
    justify-content: right;

    background-color: rgb(138, 202, 222);
    height: 100%;
    width: 95%;

    margin-left: 2.5%;
    
    
}   

.header-content h1 {
    font-size: 4em;
    color: white;
    font-family: initial;
    margin-left: 1.5%;
    margin-right: 1.5%;
}




body {
    background-color: rgb(228, 228, 228);
    background-repeat: repeat;
}

.main-content {
    background-color: rgb(255, 255, 255);

    display: flex;
    align-items: center;
    justify-content: left;

    height: 150%;
    width: 95%;

    margin-left: 2.5%;
}   

.contenido{

    margin: 0 auto;

    width:1000px;

    padding:20px;

    font-family: initial;

    font-weight:bold;

    color:white;

   

}

.search-button{
    width:100%;
    padding:10px;
    border-radius:25px;
    border:3px solid #ffffff;
    outline:none;
    background:transparent;
    color:white;
    font-size:20px;
    font-weight:bold;
}

.search-button:hover{
    background:white;
    color:rgb(138, 202, 222);
}
.logo-container {
    display: flex;
    align-items: center;
    margin-right: 40px;
    gap: 20px;
}




.bienvenido{

    background:rgb(123, 183, 201);

    display:inline-block;

    padding:

    10px 120px 10px 20px;

    font-size:55px;

    font-style:italic;

    clip-path: polygon(
    0 0,
    100% 0,
    90% 100%,
    0 100%
    );

    width: 650px;

    margin-bottom:40px;

    margin-left: -41.2%;

    margin-top: -20px;

    gap: 20px;


    display: flex;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
}










footer {

    height: 100px;
    background-color: rgb(23, 35, 84);

}





.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;

    color: white;

    font-weight:bold;

    background-color: rgb(138, 202, 222);
    height: 100%;
    width: 95%;

    margin-left: 2.5%;
}